<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>我的广告</title>
    <link rel="stylesheet" href="../../lib/WEUI/css/weui.min.css">
    <link rel="stylesheet" href="../../lib/WEUI/css/jquery-weui.min.css">
    <link href="../../css/reset.css"  rel="stylesheet">
    <link href="../../css/advert.css"  rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../lib/WEUI/js/jquery-weui.min.js"></script>
    <script src="../../js/md5.js"></script>
    <script src="../../js/com.js"></script>
    <script src="../../js/interactive.js" onload="getParameter();"></script>
    <script src="../../js/advert.js"></script>
    <script>
        window.onload = function(){
            setTimeout(function(){
                advert.advertReady();
            },100);
        }
    </script>
</head>
<body>
    <!--title-->
    <header  class="border-bottom">
        <a class="return">返回</a>
        <h2>我的广告</h2>
        <div class="icon"><i class="ico-add"></i><i class="ico-select" id="ico-select"></i></div>
    </header>
    <!--search-->
    <section class="search">
        <input type="text" placeholder="搜索广告批次，广告名称，广告标题" id="search">
    </section>
    <!--广告列表-->
    <section class="list" id="list">
       <!-- <div class="list-con">
            <div class="list-img">
                <img src="../../img/shop-head.png" width="100%">
                <i class="list-img-title adopt"></i>
            </div>
            <div>
                <p>批次：<span id="">3</span></p>
                <p>标题：<span id="">新品上线</span></p>
                <p>商家名称：<span id="">浙江杭州腾朝互联科技挖买回来</span></p>
            </div>
        </div>
        <div class="list-con">
            <div class="list-img">
                <img src="../../img/shop-head.png" width="100%">
                <i class="list-img-title not-audited"></i>
            </div>
            <div>
                <p>批次：<span id="">3</span></p>
                <p>标题：<span id="">新品上线</span></p>
                <p>商家名称：<span id="">浙江杭州腾朝互联科技挖买回来</span></p>
            </div>
        </div>
        <div class="list-con">
            <div class="list-img">
                <img src="../../img/shop-head.png" width="100%">
                <i class="list-img-title submit"></i>
            </div>
            <div>
                <p>批次：<span id="">3</span></p>
                <p>标题：<span id="">新品上线</span></p>
                <p>商家名称：<span id="">浙江杭州腾朝互联科技挖买回来</span></p>
            </div>
        </div>-->
    </section>

</body>

</html>