<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>立即发货</title>
    <link rel="stylesheet" href="../../lib/WEUI/css/weui.min.css">
    <link rel="stylesheet" href="../../lib/WEUI/css/jquery-weui.min.css">
    <link href="../../css/cover-weui.css"  rel="stylesheet">

    <link href="../../css/reset.css"  rel="stylesheet">
    <link href="../../css/shop.css"  rel="stylesheet">

    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../lib/WEUI/js/jquery-weui.min.js"></script>
</head>
<body class="body-bg">
    <!--title-->
    <header  class="border-bottom">
        <a href="javascript:void();" class="return">返回</a>
        <h2>立即发货</h2>
    </header>
    <!--商品信息-->
    <section class="info-box">
        <div class="info-title">商品信息</div>
        <div class="goods-detail ">
            <div class="order-img"><img src="../../img/shop-head.png" width="100%"></div>
            <div>
                <p class="info-name text-overflow">名称：Apple MacBook Pro 笔记本电脑</p>
                <p class="text-overflow">描述：银色(Core i7 处理器/16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                <p>数量：1</p>
                <p class="clearfix">下单会员：<i>15478547854</i></p>
            </div>
        </div>
    </section>
    <!--填写快递信息-->
    <section class="express">
        <form>
            <ul>
                <li class="clearfix">
                    <span class="fl_l">配送快递</span>
                    <input class="fl_r" type="text" readonly="" placeholder="请选择快递公司" id="time">
                </li>
                <li class="clearfix">
                    <span class="fl_l">快递单号</span>
                    <input class="fl_r" type="text" placeholder="请输入单号" id="num">

                </li>
                <li class="clearfix">
                    <p>备注</p>
                    <textarea placeholder="备注"></textarea>
                </li>
            </ul>
        </form>
    </section>
    <div>
        <input type="button" value="确认发货" class="btn blur-bg">
    </div>
</body>
<script>
    //$(document).on("click","#time",function(){
        $("#time").picker({
            title: "请选择快递",
            cols: [
                {
                    textAlign: 'center',
                    values: ['申通', '韵达', '顺丰']
                }
            ]
        });
        $(".btn").on("click",function(){
            if($("#time").val() == ""){
                $.toast("请选择快递公司!","text");
            }else if( $("#num").val() ==""){
                $.toast("请输入快递单号!","text");
            }else {
                $.confirm("申通快递：222222222222222222", "请核对单号", function() {
                    $.toast("已发货!","text",function(){
                        window.location.href="logistics.html";
                    });
                }, function() {
                    //取消操作
                });
            }
        })
    //})
</script>

</html>