<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>卡券活动</title>
    <link href="../../lib/WEUI/css/weui.min.css"  rel="stylesheet">
    <link href="../../lib/WEUI/css/jquery-weui.min.css"  rel="stylesheet">
    <link href="../../css/reset.css"  rel="stylesheet">
    <link href="../../css/activity.css"  rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../lib/WEUI/js/jquery-weui.min.js"></script>
    <script src="../../js/md5.js"></script>
    <script src="../../js/com.js"></script>
    <script src="../../js/interactive.js" onload="getParameter();"></script>
    <script src="../../js/tikect.js"></script>
    <script>
        window.onload = function(){
            setTimeout(function(){
                ticket.ticketReady();
            },100);
        }
    </script>
</head>
<body class="body-bg">
    <input type="hidden" value="0" class="flag">
    <input type="hidden" value="1" id="pagmun">
    <!--title-->
    <header  class="border-bottom">
        <a class="return">返回</a>
        <h2>卡券活动</h2>
        <div class="icon"><i class="ico-add" id="ico-add"></i><i class="ico-select" id="ico-select"></i></div>
    </header>
    <!--search-->
   <!-- <section class="search">
        <form >
            <input type="text" placeholder="搜索卡券金额，活动编号" id="search">
        </form>
    </section>-->
    <!--list-->
    <section class="activity" id="list">
      <!--  <div class="activity-con full-cut not-begin">
            <a href="javascript:void (0)">
                <div class="activity-num">
                    <p>活动编号：<span id="">1234567890987654</span></p>
                    <span class="ticket-state">未开始</span>
                </div>
                <div class="flex-box">
                    <div class="item">满100减20</div>
                    <div class="item">
                        <p>已推送</p>
                        <p>3000</p>
                    </div>
                    <div class="item">
                        <p>已领取</p>
                        <p>3000</p>
                    </div>
                    <div class="item">
                        <p>已使用</p>
                        <p>3000</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="activity-con full-cut ongoing">
            <a href="javascript:void (0)">
                <div class="activity-num">
                    <p>活动编号：<span id="">1234567890987654</span></p>
                    <span class="ticket-state">活动中</span>
                </div>
                <div class="flex-box">
                    <div class="item">满618减300</div>
                    <div class="item">
                        <p>已推送</p>
                        <p>3000</p>
                    </div>
                    <div class="item">
                        <p>已领取</p>
                        <p>3000</p>
                    </div>
                    <div class="item">
                        <p>已使用</p>
                        <p>3000</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="activity-con discount over">
            <a href="javascript:void (0)">
                <div class="activity-num">
                    <p>活动编号：<span id="">1234567890987654</span></p>
                    <span class="ticket-state">已结束</span>
                </div>
                <div class="flex-box">
                    <div class="item">满618减300</div>
                    <div class="item">
                        <p>已推送</p>
                        <p>300000</p>
                    </div>
                    <div class="item">
                        <p>已领取</p>
                        <p>3000</p>
                    </div>
                    <div class="item">
                        <p>已使用</p>
                        <p>30000</p>
                    </div>
                </div>
            </a>
        </div>-->
    </section>
    <form class="form1">
        <input>
    </form>
</body>

</html>