

/****** picker *****/
.weui-picker-modal{
    background: #fff!important;
}
.toolbar{
    background: #fff;
}
.toolbar .picker-button{
    color:#9aa4c1;
}
.toolbar, .toolbar .title{
    font-size: .75rem;
}
.weui-picker-modal .picker-items{
    font-size: .75rem;
}

/******* select *****/
.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before{
    color: #0c8deb;
}
.weui-cell.weui-check_label{
    font-size: .75rem;
}


/*****popup*****/
.weui-popup__modal{
    background: #fff;
}


