<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>代理商查询</title>
    <link href="../../css/reset.css"  rel="stylesheet">
    <link href="../../css/agent.css"  rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
</head>
<body class="body-bg">
    <!--title-->
    <header  class="border-bottom">
        <a href="javascript:void();" class="return">返回</a>
        <h2>代理商查询</h2>
        <div class="icon"><i class="ico-select " id="ico-select"></i></div>
    </header>
    <section class="agent-list" id="list">
        <div class="agent-con border-bottom">
            <div class="agent-head"><img src="../../img/agent-head.png" width="100%"></div>
            <div>
                <p>代理商简称：<i>杭州总代</i></p>
                <p>真实姓名：<i>小明</i></p>
                <p>手机号码：<i>159****6548</i></p>
            </div>
        </div>
        <div class="agent-con border-bottom">
            <div class="agent-head"><img src="../../img/agent-head.png" width="100%"></div>
            <div>
                <p>代理商简称：<i>杭州总代</i></p>
                <p>真实姓名：<i>小明</i></p>
                <p>手机号码：<i>159****6548</i></p>
            </div>
        </div>
        <div class="agent-con border-bottom">
            <div class="agent-head"><img src="../../img/agent-head.png" width="100%"></div>
            <div>
                <p>代理商简称：<i>杭州总代</i></p>
                <p>真实姓名：<i>小明</i></p>
                <p>手机号码：<i>159****6548</i></p>
            </div>
        </div>
        <div class="agent-con border-bottom">
            <div class="agent-head"><img src="../../img/agent-head.png" width="100%"></div>
            <div>
                <p>代理商简称：<i>杭州总代</i></p>
                <p>真实姓名：<i>小明</i></p>
                <p>手机号码：<i>159****6548</i></p>
            </div>
        </div>
        <div class="agent-con border-bottom">
            <div class="agent-head"><img src="../../img/agent-head.png" width="100%"></div>
            <div>
                <p>代理商简称：<i>杭州总代</i></p>
                <p>真实姓名：<i>小明</i></p>
                <p>手机号码：<i>159****6548</i></p>
            </div>
        </div>
    </section>
    <!-- mask & alert -->
    <div class="mask" style="display: none"></div>
    <div class="app-select address-alert">
        <div class="address-top" id="current-address"></div>
        <div class="address-con">
            <div class="title clearfix">
                <span class="fl_l">所在省</span>
                <span class="fl_r drop-down">选择省</span>
            </div>
            <div class="con">
                <button>浙江省</button>
                <button  class="active">广西壮族自治区</button>
                <button>浙江省</button>
                <button>浙江省</button>
                <button>广西壮族自治区</button>
                <button>浙江省</button>
                <button>宁夏回族自治区</button>
                <button>新疆维吾尔自治区</button>
                <button>浙江省</button>
            </div>
        </div>
        <div class="address-con">
            <div class="title clearfix">
                <span class="fl_l">所在市</span>
                <span class="fl_r drop-down">选择市</span>
            </div>
            <div class="con">
                <button>杭州市</button>
                <button>温州市</button>
                <button>宁波市</button>
                <button>湖州</button>
            </div>
        </div>
        <div class="address-con">
            <div class="title clearfix">
                <span class="fl_l">所在区县</span>
                <span class="fl_r drop-down">选择区县</span>
            </div>
            <div class="con">
                <button class="active">杭州市</button>
                <button>温州市</button>
                <button>宁波市</button>
                <button>湖州</button>
            </div>
        </div>
        <button class="btn-position">确定</button>
    </div>
</body>
<script>
    $(function(){
        $(document).on("click",".btn-position",function(){
            $(".mask,.app-select").hide();
        }).on("click","#ico-select",function(){
            $(".mask,.app-select").show();
        }).on("click",".drop-down",function(){
            $(".con").hide();
            $(this).parent().next(".con").toggle();
        }).on("click",".con button",function(){
            $(this).toggleClass("active").siblings().removeClass("active");
            $(this).parents(".address-con").find(".fl_l").text($(this).text())
        });
        $("#current-address").text(remote_ip_info.province + '省' + remote_ip_info.city + '市');
    })

</script>
</html>