<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>卡使用统计</title>
    <link href="../../css/reset.css"  rel="stylesheet">
    <link href="../../css/card.css"  rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../lib/WEUI/js/jquery-weui.min.js"></script>
    <script src="../../js/md5.js"></script>
    <script src="../../js/com.js"></script>
    <script src="../../js/interactive.js" onload="getParameter();"></script>
    <script src="../../js/card.js"></script>
    <script>
        card.cardUsageReady();
    </script>
</head>
<body class="body-bg">
    <!--title-->
    <header class="border-bottom">
        <a class="return">返回</a>
        <h2>卡使用统计（<i id="">500</i>）</h2>
        <div class="icon"><i class="ico-select" id="ico-select"></i></div>
    </header>
    <!--search-->
    <section class="search">
        <input type="text" placeholder="搜索卡号，批次，使用人，金额">
    </section>
    <!--list-->
    <section class="usage" id="list">
        <!--<div class="usage-list border-bottom currency" >
            <div class="ico-bg"></div>
            <div>
                <p>卡号：<span id="">12547854125478</span></p>
                <p>批次：<span id="">13</span></p>
                <p>使用人：<span id="">1357458745800</span></p>
            </div>
            <div class="number">￥10000</div>
        </div>
        <div class="usage-list border-bottom currency" >
            <div class="ico-bg"></div>
            <div>
                <p>卡号：<span id="">1254785412547800</span></p>
                <p>批次：<span id="">13</span></p>
                <p>使用人：<span id="">13574587458</span></p>
            </div>
            <div class="number">￥100</div>
        </div>
        <div class="usage-list border-bottom custom" >
            <div class="ico-bg"></div>
            <div>
                <p>卡号：<span id="">1254785412547800</span></p>
                <p>批次：<span id="">13</span></p>
                <p>使用人：<span id="">13574587458</span></p>
            </div>
            <div class="number">￥100</div>
        </div>-->
    </section>
</body>




</html>